/* .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.1;
}
.header {
  width: 100vw;
  background: #191919;
  color: white;
}

.menu > img {
  flex: 0.1;

  width: 8vw;
  height: 8vh;
}
.menu > form {
  margin: 10px;
  flex: 0.8;
  display: flex;
}
.menu > form > input {
  border-top-left-radius: 20px;
  flex: 1 1;
  border-bottom-left-radius: 20px;
  padding-left: 15px;
  outline: none;
  background: #3da9e759;
  border: none;
}
.menu > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0.2;
  background-color: #191919;
}

.form > input {
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex: 1;
  border: 2px solid #1ed4e0;
}
form > button {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 10px;
  border: none;
}

.singleElement {
  text-align: center;
}

.typeList {
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
  margin-top: -5px;
  margin: 0px 20px;
}
.typeList > li {
  margin: 15px;
}
.resMenu {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: #ffffff;
  transform: translateY(150px);
  transition: 0.5s;

  top: 90%;
}
.resMenu > .products > .products > ul {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.fixed-menu {
  position: fixed;
  width: 100vw;
}
.secondList > .typeList {
  display: flex;
  overflow-x: scroll;
}

@media only screen and (max-width: 600px) {
  .resMenu {
    transform: translateY(0px) !important;
  }
  .elements {
    display: none !important;
  }
  .menu > form {
    flex: 0.8 !important;
  }
  .menu > img {
    flex: 0.2;
  }
  .contenu {
    margin-top: 100px !important;
  }
}
.typeList::-webkit-scrollbar {
  display: none;
}
.contenu::-webkit-scrollbar {
  display: none;
}
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.products {
  margin-bottom: -54px;
}
.products > ul {
  display: flex;
  overflow-x: scroll;
}
@media only screen and (max-width: 600px) {
  .logo {
    zoom: 0.4 !important;
  }
}

@media only screen and (min-width: 600px) {
  .products > ul {
    justify-content: center;
  }
}
.products > ul li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: #f1f1f100;
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.products > ul li {
  position: relative;
  display: block;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}
.products > ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
.products > ul li:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191919;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.products > ul li:hover {
  color: #fff;
}
.products > ul li:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
.products > ul li:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
