.shop-container {
  width: 85vw;
  margin: auto;
  display: flex;
}
.menu {
  display: grid;
  align-items: center;
  height: 91vh;

  flex: 0.2;
}
.shop-products {
  flex: 0.8;
  margin: 10px;
}
.shop-elements {
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .shop-products {
    flex: 1;
  }
  .shop-elements {
    grid-template-columns: auto auto;
  }
}

.shop-item-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2196f32e;
  z-index: 200000 !important;
}

.product-price-and-shipping {
  line-height: 1;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #fbe7e7;
  padding: 15px;
}
